

# Stata junk
*.log
*.smcl

# R junk (in case you use it)
.Rhistory
.RData
.Rproj.user/

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/


# National extension data (too large for GitHub)
data/raw/acs_b15003_2012_2024_us_raw.rds
data/raw/nhgis_national/


data/raw/nhgis_national/
data/raw/acs_*_us_*
# Naional extension data (too large for github)
data/raw/nhgis_national/
data/cleaned/us_*
data/raw/acs_*us_*
